<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

   

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <img src="/assets/BMBF_gefördert vom_deutsch.jpg" alt="Gefördert vom Bundesministerium für Bildung und Forschung" width="200px" /><br/>
        <a href="/impressum">Förderinformationen</a>
      </div>

      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li><a href="https://dystonse.org">Dystonse Übersicht</a></li>
            <li><a href="https://monitor.dystonse.org">Dystonse Abfahrtsmonitor</a></li>
            <li><a href="https://dystonse.org/legacy/index.html">Dystonse Routensuche (deprecated)</a></li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <!--<div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>-->

    </div>

  </div>

</footer>
